@page "/Games/{GameId:guid}"
@inject IGamesHttpRepository GamesHttpRepository
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Game</PageTitle>

<div class="container bg-light p-5">
    <div class="row justify-content-center">
        @if (_gameResponse?.Deck is not null)
        {
            @foreach (var card in _gameResponse.Deck.Where(c => c.IsDrawn))
            {
                <div class="col-auto m-2">
                    <Card CardResponse="@card" IsSelected="@IsCardSelected(card)"
                          OnCardSelected="OnCardClick"></Card>
                </div>
            }
        }
        else
        {
            <div class="card text-center">
                No cards drawn yet
            </div>
        }
    </div>
</div>

@code {

    List<CardResponse> _selectedCards = [];

    [Parameter]
    public Guid GameId { get; set; }

    private GameResponse? _gameResponse;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _gameResponse = await GamesHttpRepository.GetGameById(GameId);

        if (_gameResponse is null)
            NavigationManager.NavigateTo("games");
    }

    private void OnCardClick(CardResponse card)
    {
        if (IsCardSelected(card))
        {
            _selectedCards.Remove(card);
        }
        else
        {
            _selectedCards.Add(card);
        }
    }

    private bool IsCardSelected(CardResponse card) { return _selectedCards.Contains(card); }
}
